.App {
  width: 100%;
  height: 100%;
  
}

body {
  margin: 0;
  padding: 0;
  
}




.StronaGlowna{
  height: 85%;
  
}

.informacja
{
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif ;
  margin-left: 30px;
  margin-top: 30px;
  color: brown;
  
}

.informacja #info
{
  color: rgb(32, 30, 63);
  font-size: 17px;
  margin-top: 20px;
}

.informacja #info2
{
  color: rgb(32, 30, 63);
  font-size: 30px;
  margin-top: 20px;
}

.informacja2 #info3
{
  color: rgb(32, 30, 63);
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif ;
  font-size: 30px;
  margin-top: 20px;
  margin-left: 30px;
  position: static;
}

.slider
{
  width: 85%;
  height: 100%;
  float: right;
}

.DashboardTop
{
  background-color: rgb(32, 30, 63);
  width: 85%;
  height: 50px;
  position: relative;
  display: flex;
  float: right;
 
  
}

.DashboardTop .leftside
{
  flex: 25%;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  margin-top: 10px;
  margin-left: 15px;
  color: white;
  font-size:16px ;
}

.DashboardTop .leftside2
{
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  margin-top: 10px;
  margin-left: 15px;
  color: white;
  font-size:16px ;
  flex: 25%;
}

.DashboardTop .rightside
{
  flex: 25%;
 color: rgb(255, 255, 255);
 margin-left: 100px;
}

.DashboardTop .rightside2
{
  flex: 25%;
  color: white;
  margin-left: 0px;
}
.DashboardTop .rightside2
{
  flex: 25%;
  color: white;
  margin-left: 0px;
}
.rightside2 #wyloguj
{
  color: #ffffff;
  font-size: 15px;
  background-color: #ff0000;
  margin-right: 15px;
  height: 80%;
  width: 40%;
  margin-top: 1.5%;
  border-radius: 10px;
  
}

.rightside2 #zaloguj
{
  color: #ffffff;
  font-size: 15px;
  background-color: #1a9d00;
  margin-right: 0px;
  margin-left: 180px;
  text-align: center;
  line-height: 20px;
  height: 80%;
  width: 40%;
  margin-top: 1.5%;
  border-radius: 10px;
  
}

.rightside2 #status
{
  color: #ffffff;
  font-size: 14px;
  background-color: #0055c4;
  margin-right: 0px;
  height: 80%;
  width: 40%;
  margin-top: 1.5%;
  border-radius: 10px;
  
}

.footer
{
  background-color: rgb(48, 48, 48);
  height: 160px;
  width: 85%;
  float: right;
}
.footer .lewa
{
  height: 123px;
  width: 20%;
  margin-left: 400px;
  margin-top: 15px;
  float: left;
  color: rgba(255, 255, 255, 0.637);
  text-align: center;
}
.footer .prawa
{
  height: 123px;
  width: 20%;
  float: right;
  margin-left: 0px;
  margin-right: 400px;
  color: white;
  margin-top: 15px;
  color: rgba(255, 255, 255, 0.637);
  text-align: center;

}
.footer .dol
{
  height: 20px;
  width: 100%;
  float: right;
  text-align: center;
  color: rgba(255, 255, 255, 0.637);  
}

.Dashboard {
  position: fixed;
  float: left;
  height: 100%;
  width: 15%;
  background-color:rgb(32, 30, 63);
}
.Dashboard img
{
  width: 75%;
  height: 75%;
  margin-left: 15%;
  margin-top: 10%;
  margin-bottom: 10%;
}
.DashboardList{
  height: 100%;
  padding: 0;
  width: 100%;
}
.DashboardList .row {
  width: 100%;
  height: 7%;
  list-style-type: none;
  margin: 0;
  display: flex;
  flex-direction: row;
  color: white;
  justify-content: center;
  align-items: center;
  font-family: 'Trebuchet MS';
}
.DashboardList .row:hover{
  cursor: pointer;
  background-color: rgb(29, 21, 53);
}
.DashboardList .row #active{
  background-color: rgb(29, 21, 53);
}
.row #icon {
  flex: 30%;
  display: grid;
  place-items: center;
}

.row #title {
  flex: 70%;
}


.ofirmie
{
  height: 100%;
  width: 85%;
  float: right;
}

.ofirmie .naglowek
{
  height: 100px;
  text-align: center;
  font-size: 50px;
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  color: rgb(0, 0, 0);
  text-shadow:2px 1px 0 rgb(192, 185, 255);
}

.ofirmie .lewa_strona
{
  width: 40%;
  margin-left: 70px;
  text-shadow:1px 1px 0 rgb(136, 135, 211);
  float: left;
  color: rgb(56, 55, 104);
  font-family: -apple-system;
}
.ofirmie .lewa_strona #b
{
  margin-top: 80px;
  margin-bottom: 80px;
  font-size: 25px;
  font-family: -apple-system;
  line-height: 38px;
}

.ofirmie .prawa_strona
{
  width: 45%;
  float: right;
  margin-right: 50px;
}

.ofirmie .prawa_strona #a
{
  margin-left: -30px;
  box-shadow: 20px 15px 5px rgba(128, 128, 128, 0.548);
}
.ofirmie .prawa_strona #b
{
  margin-left: 30px;
  margin-top: -50px;
  box-shadow: 20px 15px 5px rgba(128, 128, 128, 0.534);
}
.ofirmie .prawa_strona #c
{
  margin-left: -30px;
  margin-top: -50px;
  box-shadow: 20px 15px 5px rgba(128, 128, 128, 0.466);
}
.ofirmie .prawa_strona #d
{
  margin-left: 30px;
  margin-top: -50px;
  box-shadow: 20px 15px 5px rgba(128, 128, 128, 0.658);
}
.ofirmie .prawa_strona #e
{
  margin-left: -30px;
  margin-top: -50px;
  box-shadow: 20px 15px 5px rgba(128, 128, 128, 0.486);
  margin-bottom: 70px;
}

.ofirmie .lewa_strona #c
{
  line-height: 70px;
  margin-top: 100px;
}

.cennik
{
  width: 85%;
  height: 100vh;
  float: right;
  text-align: center;
  background-image:  url("./images/tło.jpg");
  background-size: 1650px;
}
.cennik .nad_tabela
{
  background-color: rgb(236,237,238);
  width: 90%;
  height: 100px;
  margin-top: 2%;
  margin-left: 5%;
  font-size: 30px;
  border-radius: 20px;
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}
.cennik .tabela
{
  height: 70%;
  width: 90%;
  margin-left: 5%;
  margin-top: 2%;
}
 #tytul
{
  color: rgb(46, 46, 46);
  line-height: 85px;
}
.RegisterPage
{
  width: 85%;
  height: 100vh;
  float: right;
  background-image:  url("./images/tło.jpg");
  background-size: 1650px;
}

.tabs {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #4e4c7a;
  position: relative;
  cursor: pointer;
}
.form
{
  margin-right: 35%;
  margin-top: 100px;
  width: 450px;
  height: 600px;
  float: right;
  background-color: rgba(29, 26, 63, 0.966);
  box-shadow: 30px 70px 25px rgba(128, 128, 128, 0.658);
}
.form button
{
  width: 450px;
  height: 50px;
  color: rgb(0, 0, 0);
 
}
.form input
{
  width: 300px;
  height: 60px;
  margin: 10px;
  font-size: 25px;
  background-color: rgb(255, 255, 255);
}
.form .tabs
{
  width: 450px;
  height: 50px;
  color: rgb(255, 255, 255);
}

.active-tabs {
  background: rgb(32, 30, 63);
  height: 600px;
  flex-direction: column;
}

.content {
  height: 600px;
  width: 450px;
  display: none;
  background-color: rgb(32, 30, 63);
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 50px;
  color: azure;
  border-radius: 40px;
}
.content button
{
  color: rgb(255, 255, 255);
  background-color: #4e4c7a;
  margin-bottom: 30px;
  margin-top: 10px;
}

.active-content 
{
    display: flex;
    height: 600px;
    flex-direction: column;
}

.form2{
  margin-right: 35%;
  margin-top: 100px;
  width: 450px;
  height: 650px;
  float: right;
  background-color: rgba(29, 26, 63, 0.966);
  box-shadow: 30px 70px 25px rgba(128, 128, 128, 0.658);
  border-bottom-left-radius: 40px;
  border-bottom-right-radius: 40px;
}
.form2 #a
{
  margin-top: 5%;
  margin-left: 5%;
  margin-right: 5%;
  font-size: 30px;
  color: #459d40;
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-variant: unset;
 
  text-align: center;
}

.uslugi
{
  width: 85%;
  height: 100vh;
  float: right;
  background-image:  url("./images/tło.jpg");
  background-size: 1650px;
}
.cardleft
{
  margin-left: 27%;
  margin-top: 15%;
  width: 345px;
  border-style: solid;
  border-color: rgb(138, 138, 138);
  box-shadow: 10px 20px 15px rgba(128, 128, 128, 0.658);
}

.cardright
{
  margin-left: 53%;
  margin-top: -20.1%;
  width: 345px;
  border-style: solid;
  border-color: rgb(138, 138, 138);
  box-shadow: 10px 20px 15px rgba(128, 128, 128, 0.658);
}
.okienko
{
  width: 500px;
  height: 250px;
  background-color: rgb(32, 30, 63);
  margin-left: 35%;
  margin-top: 15%;
  border-radius: 40px;
  box-shadow: 10px 20px 15px rgba(128, 128, 128, 0.658);
  border-style: solid;
  border-color: rgb(232, 76, 107);
}
.informacja
{
  margin-left: 8%;
  margin-right: 8%;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  text-align: center;
  font-style: oblique;
  color: #e4400f;
}
.buttons
{
  margin-top: 10%;
  
}
.buttons #a
{
  margin-right: 5%;
  background-color: #4e4c7a;
}

.buttons #b
{
  
  background-color: #4e4c7a;
}



.kontaktpage
{
  width: 85%;
  height: 100vh;
  float: right;
  background-image:  url("./images/tło.jpg");
  background-size: 1650px;
}
.naglowek
{
  height: 200px;
  width: 100%;
  float: right;
  background-color: #4e4c7a7c;
  text-align: center;
  justify-content: center;
  align-items: center;
}
.naglowek #a
{
  margin-top: 55px;
  color: aliceblue;
  font-size: 60px;
}
.contener
{
  
  width: 650px;
  height: 600px;
  font-size: 40px;
  font-weight: 700;
  margin-left: 7%;
  margin-top: 15%;
}

.contener #b
{
  margin-top: 20px;
}
.contener #c
{
  margin-top: 30px;
  
}
.button1 #pierwszy
{
  width: 200px;
  color: rgb(0, 0, 0);
  font-size: 25px;
  margin-left: 90px;
  font-weight: 700;
}
.button2 #drugi
{
  width: 300px;
  color: rgb(0, 0, 0);
  font-size: 25px;
  margin-left: 20px;
  font-weight: 700;
}
.contenerprawy
{
  width: 650px;
  height: 600px;
  margin-top: -37%;
  margin-right: 100px;
  float: right;
  border-left-style: solid;
  text-align: center;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  
}
.contenerprawy #wymagania
{
  color: #e4400f;
  margin-left: 50px;
  margin-bottom: 100px;
}
.button3 #trzeci
{
  width: 300px;
  height: 50px;
  color: aliceblue;
  background-color:rgba(29, 26, 63, 0.966) ;
  font-size: 20px;
  margin-top: 10px;
  margin-left: 60px;
  align-items: center;
}
.kreska
{
  width: 550px;
  height: 50px;
  border-bottom-style: solid;
  margin-bottom: 30px;
  float: right;

}
.podkreska
{
  width: 550px;
  height: 250px;
  float: right;
}

.zamowpage
{
  width: 85%;
  height: 100vh;
  float: right;
  background-image:  url("./images/tło.jpg");
  background-size: 1650px;
}

.zapytajpage
{
  width: 85%;
  height: 100vh;
  float: right;
  background-image:  url("./images/tło.jpg");
  background-size: 1650px;
}

.imie input
{
  width: 350px;
  
  
}

.formularz #instrukcja
{
  height:5% ;
  color: rgb(0, 0, 0);
  font-size: 30px;
  margin-left: 5%;
  margin-top: 5%;
  margin-bottom: 1px;
  font-size: 22px;
  position: relative; 
}

.formularz
{
  width: 1000px;
  height:700px;
  background-color: rgba(223, 223, 237, 0.686);
  margin-left: 20%;
  margin-top: 5%;
  border-radius: 30px;
  box-shadow: 10px 20px 15px rgba(128, 128, 128, 0.802);
  font-size: 20px;
  color: #333333;
}


.pytanie
{
  float: left;
  width: 45%;
  margin-left: 5%;
  margin-top: 5%;
}
.pytanie input
{
  width: 400px;
  margin-bottom: 2%;
}
.pytanie #text
{
  width: 400px;
}
.pytanie #but1
{
  background-color: #404dff;
  color: white;
  font-size: 25px;
}
.pytanie #but2
{
  background-color: #d3d3d3;
  color: rgb(65, 65, 65);
  font-size: 25px;
}
.pytanie2
{
  float: right;
  width: 45%;
  margin-top: 5%;
  margin-right: 5%;
  
}
.text1
{
  font-size: 25px;
  font-weight: 500;
  margin-bottom: 10%;
}
.wiersz1
{
  margin-left: 5%;
  margin-bottom: 3%;
  margin-top: 3%;
}
.wiersz2
{
  margin-left: 5%;
}
.wiersz3
{
  margin-left: 5%;
  margin-top: 3%;
}
.wiersz4 #opis
{
  width: 420px;
  height: 100px;
  color: rgb(0, 0, 0);
}
.wiersz4
{
  margin-left: 5%;
  margin-top: 3%;
  width: 420px;
}

.wiersz5
{
  margin-left: 5%;
  margin-top: 3%;
  width: 444px;
  height: 75px;
  color: rgb(111, 111, 111);
  font-size: 18px;
  background-color: rgba(217, 218, 228, 0.782);
  border-radius: 3px;
  border-bottom-style: solid;
  border-bottom-width: 1px ;
}
#instrukcja2
{
  color: #484848;
  font-size: 15px;
  margin-left: 5%;
}
#instrukcja3
{
  color: #09ba00;
  font-size: 25px;
  margin-left: 5%;
  font-family:'Franklin Gothic Medium';
}
#instrukcja4
{
  color: #373737;
  font-size: 25px;
  margin-left: 5%;
  margin-top: 5%;
  font-family:'Franklin Gothic Medium';
}
#instrukcja5
{
  color: #6d6d6d;
  font-size: 25px;
  margin-left: 5%;
  margin-top: 5%;
  font-family:'Franklin Gothic Medium';
}
#instrukcja6
{
  color: #a54d4d;
  width: 600px;
  font-size: 25px;
  margin-left: 5%;
  margin-top: 5%;
  font-family:'Franklin Gothic Medium';
}
#instrukcja7
{
  color: #a54d4d;
  width: 600px;
  font-size: 20px;
  margin-left: 5%;
  margin-top: 5%;
  font-family:'Franklin Gothic Medium';
}
#instrukcja8
{
  color: #2875e8;
  width: 600px;
  font-size: 30px;
  margin-left: 5%;
  margin-top: 5%;
  font-family:'Franklin Gothic Medium';
}
.prawa_zamowienie
{
  float: right;
  width: 400px;
  margin-top: -40%;
  margin-right: 5%;
}
 .prawa_zamowienie #pierwszy
{
  height: 50px;
  width: 250px;
  margin-left: 15%;
  background-color: #e4400f;
  color: aliceblue;
  margin-top: 4%;
  margin-bottom: 4%;
}

.prawa_zamowienie #drugi
{
  height: 50px;
  width: 250px;
  margin-left: 15%;
  background-color: rgb(32, 30, 63);
  color: aliceblue;
  margin-top: 6%;
  margin-bottom: 5%;
}

.formularz2
{
  width: 500px;
  height: 730px;
  background-color: rgba(223, 223, 237, 0.686);
  margin-left: 33%;
  margin-top: 5%;
  border-radius: 30px;
  box-shadow: 10px 20px 15px rgba(128, 128, 128, 0.802);
  font-size: 20px;
}
.zapytaj
{
  width: 500px;
  margin-right: 5%;
  margin-left: 5%;
}
#instrukcja9
{
  color: #333333;
  font-size: 22px;
}
#instrukcja10
{
  color: #333333;
  font-size: 20px;
  margin-left: 5%;
}
#instrukcja11
{
  color: #2875e8;
  width: 600px;
  font-size: 30px;
  margin-left: 5%;
  margin-top: 5%;
  font-family:'Franklin Gothic Medium';
  line-height: 20px;
}
.zapytaj #pierwszy
{
  background-color: #e4400f;
  width: 250px;
  margin-left: 19%;
  color: aliceblue;
}
#polecenie
{
  color: #333333;
  font-size: 23px;
  margin-left: 5%;
}
#powrot
{
  background-color: rgb(206, 206, 220);
  color: aliceblue;
  float: right;
  margin-right: 5%;
  margin-top: 70%;
}
#powrot2
{
  
  background-color: rgb(206, 206, 220);
  color: aliceblue;
  float: right;
  margin-right: 5%;
  margin-top: -4%;
}

.zamowienia
{
  height: 100%;
  width: 85%;
 
  float: right;
  
}
.zamowienia2
{
  margin-left: 4%;
  margin-top: 1%;
  height: 100%;
  
}

.information {
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: center;
  align-items: center;
}

input {
  width: 300px;
  height: 50px;
  font-size: 20px;
  padding-left: 10px;
  margin: 5px;

}

 button {
  width: 320px;
  height: 50px;
  margin-top: 15px;
} 

 button:hover {
  cursor: pointer;
}

.wyswietl1 {
  display: flex;
  align-items: left;
  flex-direction: column;
  width: 100%;
}

.wyswietl2 {
  width: 1300px;
  height: auto;
  border: 1px solid black;
  margin: 20px;
  display: flex;
  padding: 10px;
  font-family: 'Courier New', Courier, monospace;
}

.wyswietl2 h3 {
  margin: 20px;
}
.wyswietl2 #a
{
  color: #0011ff;
  font-weight: 600;
  font-size: 20px;
  background-color: #ecedfc;

}

.wyswietl2 #b
{
  color: #000000;
  font-weight: 600;
  font-size: 20px;

}

.wyswietl2 #e
{
  color: #0df700;
  font-weight: 600;
  font-size: 20px;
  background-color: #e6ffe9;

}

.wyswietl2 #c
{
  color: #15ff00;
  font-weight: 800;
  font-size: 30px;

}
.wyswietl2 #d
{
  color: #fc0000;
  font-weight: 600;
  font-size: 30px;

}

.dane1
{
  width: 33%;
  float: left;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  height: 250px;
  
}

.dane2
{
  float: right;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  width: 33%;
  height: 250px;
 
}
.dane3
{
  float: right;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  width: 33%;
  height: 250px;
}
.dane4
{
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  color: #000000;
}
.dane4 #data
{
  color: #8d8d8d;
  font-size: 20px;
}
.dane5
{
  float: right;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  width: 65%;
}
.dane1 #data
{
  color: #8d8d8d;
  font-size: 20px;
}

.status
{
  float: right;
  margin-right: 10%;
  min-height: 1000px;
  margin-top: 2%;
}